body {
  /*background: radial-gradient(200% 100% at bottom center, #0070aa, #0b2570, #000035, #000);
  background: radial-gradient(220% 105% at top center, #000 10%, #000035 40%, #0b2570 65%, #0070aa);*/
  background: #000;
  background-attachment: fixed;
  overflow: hidden;
  min-width: 1170px;
  font-family:"微软雅黑" ,'Open Sans', sans-serif;
}
@keyframes rotate {
  0% {
    transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(0);
  }
  100% {
    transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(-360deg);
  }
}
canvas{
     position:  fixed;
     z-index: 2;


}
.stars {
  transform: perspective(500px);
  transform-style: preserve-3d;
  position: absolute;
  bottom: 0;
  perspective-origin: 50% 100%;
  left: 50%;
  animation: rotate 90s infinite linear;
}
.star {
  width: 2px;
  height: 2px;
  background: #F7F7B6;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0 -300px;
  transform: translate3d(0, 0, -300px);
  backface-visibility: hidden;
}
.box_s {
  box-shadow: 2px 2px 4px 2px rgba(255, 255, 255, 0.5);
}
.section {
  position: relative;
}
.page01_header {
  position: fixed;
  z-index: 999;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
.page01_header .header_left {
  width: 240px;
  height: auto;
  border-radius: 8px;
  box-shadow: 2px 2px 4px 2px rgba(255, 255, 255, 0.5);
  line-height: 56px;
  padding: 0px 5px;
  box-sizing: border-box;
  font-size: 16px;
  color: #fff;
}
.page01_header .header_left img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  margin-right: 8px;
}
.page01_header .header_left .btn {
  background-color: transparent;
  color: #fff;
  box-shadow: 2px 2px 4px 2px rgba(255, 255, 255, 0.5);
  margin-right: 5px;
}
.page01_header .header_left:hover {
  cursor: pointer;
}
.page01_header .header_right_icon {
  width: 100%;
  height: 80%;
  padding: 5px;
  
  color: #fff;
  font-size: 16px;
}
.page01_header .header_right_icon a {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0px 2%;
  margin-right: 20px;
  text-decoration: none;
  color:gold;
      transition: 0.5s all;
    

 
}
.page01_header .header_right_icon a:hover,
.page01_header .header_right_icon a:active {
  color: #fff;

}
.page01_header .header_right_icon a:hover {
  cursor: pointer;
  background-color: #10A7AF;
  
}
.page01_header .header_right_icon .active {
  color: #fff;
  background-color: #10A7AF;
  
}
.section.page01_con .page01_con {
  color: transparent;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 36px;
  font-size: 16px;
}
.section.page01_con .page01_con .title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 28px;
  /*开始时，标题不可见，所以可以进行默认的偏移*/
  transform: translateY(1000%);
}
.section.page01_con .page01_con > :nth-child(2),
.section.page01_con .page01_con > :nth-child(3),
.section.page01_con .page01_con > :nth-child(4),
.section.page01_con .page01_con > :nth-child(5) {
  transform: translateY(1000%);
}
.section.current.page01_con .page01_con {
  color: #fff;
}
.section.current.page01_con .page01_con .title {
  transform: translateY(0%);
  /*添加过渡样式*/
  transition: transform 1s;
}
.section.current.page01_con .page01_con > :nth-child(2),
.section.current.page01_con .page01_con > :nth-child(3),
.section.current.page01_con .page01_con > :nth-child(4),
.section.current.page01_con .page01_con > :nth-child(5) {
  transform: translateY(0%);
}
.section.current.page01_con .page01_con > :nth-child(2) {
  /*添加过渡样式*/
  transition: 1s transform 1s;
}
.section.current.page01_con .page01_con > :nth-child(3) {
  /*添加过渡样式*/
  transition: 2s transform 1s;
}
.section.current.page01_con .page01_con > :nth-child(4) {
  /*添加过渡样式*/
  transition: 3s transform 1s;
}
.section.current.page01_con .page01_con > :nth-child(5) {
  /*添加过渡样式*/
  transition: 4s transform 1s;
}
.two {
  position: relative;
  width: 100%;
  height: 100%;
}
.two .search {
  width: 50%;
  height: 60%;
  position: absolute;
  left: 4%;
  top: 25%;
}
.two .search .searchBar {
  width: 529px;
  height: 70px;
  background: url("../images/search.png") no-repeat;
  /*开始时，搜索框不可见，所以可以进行默认的偏移*/
  transform: translateX(-200%);
}
.two .search .searchText {
  /*开始时，文本不可见*/
  width: 0px;
  overflow: hidden;
  height: 20px;
  color: transparent;
  position: absolute;
  left: 20px;
  top: 25px;
}
.two .search .searchResult {
  position: absolute;
  width: 315px;
  height: 0px;
  left: 2%;
  top: 20%;
  color: #fff;
  overflow: hidden;
}
/*第二屏过渡效果的实现*/
.two.current .search > .searchBar {
  transform: translateX(0%);
  transition: transform 1s;
}
.two.current .search > .searchText {
  color: #fff;
  width: 99px;
  transition: width 1s 1s steps(5);
}
.two.current .search > .searchResult {
  height: 75%;
  transition: height 1s 2s;
}
.three > div {
  display: flex;
  /*设置主轴方向上的排列方式*/
  justify-content: space-around;
  /*设置侧轴方向上的排列方式*/
  align-items: center;
}
.three {
  overflow: hidden;
}
.three .shield {
  width: 440px;
  font-size: 0;
  position: absolute;
  top: 20%;
  left: 5%;
}
.three .shield > img {
  /*添加过渡效果*/
  transition: transform 1s;
}
.three .shield > img :nth-of-type(1) {
  transform: translate(100px, 100px) rotate(30deg);
}
.three .shield > img:nth-of-type(2) {
  transform: translate(-100px, -100px) rotate(-30deg);
}
.three .shield > img:nth-of-type(3) {
  transform: translate(200px, 200px) rotate(60deg);
}
.three .shield > img:nth-of-type(4) {
  transform: translate(-200px, -200px) rotate(-60deg);
}
.three .shield > img:nth-of-type(5) {
  transform: translate(150px, 150px) rotate(90deg);
}
.three .shield > img:nth-of-type(6) {
  transform: translate(50px, 150px) rotate(-90deg);
}
.three .shield > img:nth-of-type(7) {
  transform: translate(-150px, -150px) rotate(60deg);
}
.three .shield > img:nth-of-type(8) {
  transform: translate(10px, -250px) rotate(-90deg);
}
.three .shield > img:nth-of-type(9) {
  transform: translate(-250px, 10px) rotate(45deg);
}
.three .desc_l {
  display: none;
}
/*添加第二屏过渡效果*/
.three.current .shield > img {
  /*清除默认添加的transform*/
  transform: none;
}
.three.current .shield > img {
  /*添加过渡效果*/
}
.three.current .shield > img:hover {
  cursor: pointer;
}
.three.current .desc_l {
  display: inline-block;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  position: absolute;
  right: 2%;
  top: 25%;
  width: 45%;
  line-height: 25px;
}
.four .accrodion-group {
  margin-top: 7%;
}
.five .five_con {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}
.five .five_con .title {
  color: #fff;
  font-size: 30px;
  text-align: center;
}
.five .five_con:after,
.five .five_con:before {
  width: 50%;
  height: 1px;
  content: '';
  box-shadow: 2px 2px 4px 2px rgba(255, 255, 255, 0.5);
  position: absolute;
  opacity: 0;
}
.five .five_con:after {
  left: 0%;
  transform: translateX(-50%);
  top: 10%;
}
.five .five_con:before {
  right: 0%;
  bottom: 25%;
  transform: translateX(50%);
}
.five .five_con .line {
  width: 100%;
  display: 100%;
}
.five .five_con .line:before,
.five .five_con .line:after {
  width: 1px;
  height: 80%;
  content: '';
  box-shadow: 2px 2px 4px 2px rgba(255, 255, 255, 0.5);
  position: absolute;
  opacity: 0;
}
.five .five_con .line:before {
  bottom: -50%;
  right: 30%;
  transform: translateX(-50%);
}
.five .five_con .line:after {
  top: -50%;
  left: 30%;
  transform: translateX(50%);
}
.five .five_con > .con {
  position: absolute;
  top: 18%;
  width: 100%;
  text-align: center;
}
.five .five_con > .con > ul {
  text-align: center;
}
.five .five_con > .con > ul:nth-child(1) {
  font-size: 22px;
}
.five .five_con > .con > ul:nth-child(1) li {
  display: inline-block;
  margin: 0px 10px;
}
.five .five_con > .con > ul:nth-child(1) li:nth-child(1) {
  color: #E3723C;
}
.five .five_con > .con > ul:nth-child(1) li:nth-child(2) {
  color: #84C800;
}
.five .five_con > .con > ul:nth-child(1) li:nth-child(3) {
  color: #33CCFF;
}
.five .five_con > .con > ul:nth-child(1) li:nth-child(4) {
  color: #9E966E;
}
.five .five_con > .con > ul:nth-child(2) {
  font-size: 16px;
  color: #fff;
  margin-top: 40px;
}
.five .five_con > .con > ul:nth-child(2) li {
  margin-top: 10px;
}
.five .five_con > .con > ul:nth-child(3) {
  margin-top: 2%;
}
.five .five_con > .con > ul:nth-child(3) li {
  display: inline-block;
  margin: 0px 1%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.five .five_con > .con > ul:nth-child(3) li a {
  text-decoration: none;
}
.five .five_con > .con > ul:nth-child(3) li a img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.five.current .five_con:after {
  left: 50%;
  opacity: 1;
  transition: left 1s,opacity 1s;
}
.five.current .five_con:before {
  right: 50%;
  opacity: 1;
  transition: right 1s,opacity 1s;
}
.five.current .five_con .line:before {
  bottom: 17%;
  opacity: 1;
  transition: bottom 1s,opacity 1s;
}
.five.current .five_con .line:after {
  top: 3%;
  opacity: 1;
  transition: top 1s,opacity 1s;
}
.five.current .five_con > .con > ul:nth-child(3) li:nth-child(1),
.five.current .five_con > .con > ul:nth-child(3) li:nth-child(2) {
  position: relative;
}
.five.current .five_con > .con > ul:nth-child(3) li:nth-child(1):after,
.five.current .five_con > .con > ul:nth-child(3) li:nth-child(2):after {
  position: absolute;
  right: -25px;
  top: -120px;
  content: '';
  width: 100px;
  height: 100px;
  box-shadow: 2px 2px 4px 2px rgba(255, 255, 255, 0.5);
  opacity: 0;
}
.five.current .five_con > .con > ul:nth-child(3) li:nth-child(1):hover:after,
.five.current .five_con > .con > ul:nth-child(3) li:nth-child(2):hover:after {
  opacity: 1;
  transition: opacity 0.5s;
}
.five.current .five_con > .con > ul:nth-child(3) li:nth-child(1):after {
  background: url('../images/wx_code.jpg') no-repeat;
  background-size: 100% 100%;
}
.five.current .five_con > .con > ul:nth-child(3) li:nth-child(2):after {
  background: url('../images/qq_scode.jpg') no-repeat;
  background-size: 100% 100%;
}
